@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF
}
.headerHome {
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #0F65B2 0%, #3584A7 52.49%, #473B7B 100%);
}
.header-h1 {
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 5%;
}
.description {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
    padding: 80px 0 30px 0;
}
.description-h1 {
    display: inline-block;
    font-weight: 500;
    font-size: 28px;
    color: #0F65B2;
    margin-bottom: 20px;
}
.description-p {
    font-weight: 500;
    font-size: 14px;
    color: #0F65B2;
}
.description-a {
    float: right;
    font-weight: 500;
    font-size: 14px;
    color: #0F65B2;
    text-decoration: none;
}
.lorem {
    width: 60%;
    margin: 0 0 0 5%;
    color: #FFFFFF;
    padding: 30px 0 44px 0;
    font-weight: 300;
    line-height: 34px;
    font-size: 22px;
    color: #333333;
}
.buttons-img-container {
    width: 30%;
    margin: -30px auto 0 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: space-around;
    padding: 0 20%;
}
.buttons-btn {
    background: #0F65B2;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #EEEEEE;
    width: 35%;
    height: 75%;
    text-decoration: none;
    align-self: center;
    padding-top: 18px;
}
.buttons-span {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #333333;
    align-self: center;
}
.packages {
    width: 60%;
    margin: 0 0 0 auto;
    padding: 0 0 10px 0;
}
.packages-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.packages-h1 {
    font-weight: 500;
    font-size: 28px;
    color: #0F65B2;
}
.package {
    width: 400px;
    height: 330px;
    text-align: center;
}
.border-l {
    padding-left: 30px;
}
.border-r {
    border-right: 1px solid #E5E5E5;
    padding-right: 30px;
}
.package-header {
    padding-bottom: 40px;
    border-bottom: 1px solid #E5E5E5;
}
.package-header-h2 {
    font-weight: 500;
    font-size: 24px;
    color: #747474;
}
.package-p {
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    color: #333333;
    padding-top: 25px;
    margin-bottom: 80px;
    text-align: left;
}
.package-choose {
    font-size: 15px;
    color: #0F65B2;
    border: 1.5px solid #0F65B2;
    border-radius: 5px;
    padding: 15px 20px;
}
.footer {
    width: 90%;
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #E5E5E5;
}
.footer-img {
    width: 35px;
    height: auto;
    padding-right: 12px;
}
.footer-img2 {
    width: 20px;
    height: auto;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .buttons-img-container {
        width: 90%;
        margin-top: 50px;
        height: 200px;
        margin-left: 5%;
    }
    .buttons {
        width: 100%;
        margin-left: 5%;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
    }
    .buttons-img {
        display: none;
    }
    .packages {
        width: 90%;
        margin-left: 5%;
    }
    .buttons-btn {
        padding-top: 15px;
        height: 25%;
    }
    .package-choose {
        margin-left: 80px;
    }
    .lorem {
        width: 90%;
    }
    .choose-center {
        text-align: left;
    }
    .border-r {
        padding-left: 30px;
    }
    .package {
        margin-top: 30px;
    }
}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .buttons-img-container {
        width: 90%;
        height: 200px;
        margin-left: 5%;
    }
    .buttons {
        width: 100%;
        margin-left: 5%;
        height: 200px;
        justify-content: space-around;
    }
    .buttons-img {
        display: none;
    }
    .packages {
        width: 90%;
        margin-left: 5%;
    }
    .buttons-btn {
        padding-top: 15px;
        height: 25%;
        width: 20%;
    }
    .lorem {
        width: 85%;
    }
    .border-r {
        padding-left: 30px;
    }
    .package {
        width: 90%;
        margin-bottom: 20px;
    }
}
.buttons-btn:link, .buttons-btn:visited, .buttons-btn:hover, .buttons-btn:active {
    color: #FFFFFF;

}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
}