.header {
  color: #7e87a1;
  font-family: Roboto;
  background: #ffffff;
  height: 100px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.headerr {
  color: #7e87a1;
  font-family: Roboto;
  background: #ffffff;
  height: 100px;
  display: flex;
  border-radius: 5px;
  justify-content: flex-end;
  padding-left: 50px;
  padding-right: 50px;
}
.search-div {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  background: #ffffff;
}
.search-icon {
  margin-right: 10px;
}
.header input {
  height: 40px;
  border-radius: 50px;
  width: 97%;
  font-size: 1.6rem;
  color: #7e87a1;
  padding-right: 20px;
  padding-left: 20px;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}
.header-div-right {
  display: flex;
  align-items: center;
}
.chooseplan-btn {
  height: 40px;
  width: 120px;
  border: solid 1px #0f65b2;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 5px;
}
.css-1dccw9w {
  /* width: 880px !important; */
}
.user-packages-container-chooseplan {
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px 10px 20px 10px;
  grid-template-columns: repeat(3, 250px);
  margin-top: -25px;
  background: blue;
}
.user-package-chooseplan {
  width: 250px;
  height: 280px;
  text-align: center;
  background: #ffffff;
  padding: 20px 30px 60px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(229, 229, 229, 0.75);
  margin-bottom: 10px;
}
.user-package-chooseplan-header h2 {
  font-weight: 600;
  font-size: 15px;
  color: #666666;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-package-chooseplan-header img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.user-package-chooseplan-p {
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  color: #333333;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  text-align: center;
  height: 80px;
}
.user-img {
  cursor: pointer;
  margin-left: 20px;
}
.user-dropdown {
  position: relative;
  display: inline-block;
}
#profile-img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-top: -3px;
}
#user-img-char {
  width: 40px;
  height: 40px;
  background: #6b1a1a;
  border-radius: 50%;
  padding: 4px 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: auto;
  margin-left: -260px;
  margin-top: 3px;
  border-radius: 3px;
  border: 1px solid #ababab;
}
.user-dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-header {
  padding: 0 30px!important;
  background: #ffffff;
  display: flex!important;
  justify-content: flex-start;
  height: 80px;
  align-items: center;
}
.session-info-div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 30px;
  padding: 0;
  width: 170px;
}
.session-info {
  font-weight: 500;
  font-size: 14px;
}
.dropdown-footer {
  background: #f4f5fa;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #ababab;
  text-align: center;
}
.dropdown-footer button {
  color: #f4f5fa;
  background: #6b1a1a;
}
.dropdown-footer button:hover {
  color: #cccccc;
  background: #6b1a1a !important;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .user-img {
    margin-left: 5px;
  }
  .header {
    padding: 0;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 770px) {

}