@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-header {
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #0f65b2 0%, #3584a7 52.49%, #473b7b 100%);
}
.home-header h1 {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 5%;
}
.description {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  padding: 80px 0 30px 0;
}
.description h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 28px;
  color: #0f65b2;
  margin-bottom: 20px;
}
.description p {
  font-weight: 500;
  font-size: 14px;
  color: #0f65b2;
}
.description a {
  float: right;
  font-weight: 500;
  font-size: 14px;
  color: #0f65b2;
  text-decoration: none;
}
.lorem {
  width: 60%;
  margin: 0 0 0 5%;
  color: #ffffff;
  padding: 30px 0 44px 0;
  font-weight: 300;
  line-height: 34px;
  font-size: 22px;
  color: #333333;
}
.packages {
  width: 60%;
  margin: 0 0 0 auto;
  padding: 0 0 10px 0;
}
.packages h1 {
  font-weight: 500;
  font-size: 28px;
  color: #0f65b2;
}
.packages-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.package {
  width: 400px;
  height: 330px;
  text-align: center;
}
.border-l {
  padding-left: 30px;
}
.border-r {
  border-right: 1px solid #e5e5e5;
  padding-right: 30px;
}
.package-header {
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.package-header h2 {
  font-weight: 500;
  font-size: 24px;
  color: #747474;
}
.package-p {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  color: #333333;
  padding-top: 25px;
  margin-bottom: 80px;
  text-align: left;
}
.package-choose {
  font-size: 15px;
  color: #0f65b2;
  border: 1.5px solid #0f65b2;
  border-radius: 5px;
  padding: 15px 20px;
}
.buttons-img-container {
  width: 30%;
  margin: -30px auto 0 0;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 25%;
  justify-content: space-around;
  padding: 0 20%;
}
.buttons-btn {
  background: #0f65b2;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #eeeeee;
  width: 35%;
  height: 75%;
  text-decoration: none;
  align-self: center;
  padding-top: 18px;
}
.buttons-span {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  color: #333333;
  align-self: center;
}
.footer {
  width: 90%;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #e5e5e5;
}
.footer-img {
  width: 35px;
  height: auto;
  padding-right: 12px;
}
.footer-img2 {
  width: 20px;
  height: auto;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .buttons-img-container {
    width: 90%;
    margin-top: 50px;
    height: 200px;
    margin-left: 5%;
  }
  .buttons {
    width: 100%;
    margin-left: 5%;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
  }
  .buttons-img {
    display: none;
  }
  .packages {
    width: 90%;
    margin-left: 5%;
  }
  .buttons-btn {
    padding-top: 15px;
    height: 25%;
    width: 50%;
  }
  .package-choose {
    margin-left: 80px;
  }
  .lorem {
    width: 90%;
  }
  .choose-center {
    text-align: left;
  }
  .border-r {
    padding-left: 30px;
  }
  .package {
    margin-top: 30px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .buttons-img-container {
    width: 90%;
    height: 200px;
    margin-left: 5%;
  }
  .buttons {
    width: 100%;
    margin-left: 5%;
    height: 200px;
    justify-content: space-around;
  }
  .buttons-img {
    display: none;
  }
  .packages {
    width: 90%;
    margin-left: 5%;
  }
  .buttons-btn {
    padding-top: 15px;
    height: 25%;
    width: 40%;
  }
  .lorem {
    width: 85%;
  }
  .border-r {
    padding-left: 30px;
  }
  .package {
    width: 90%;
    margin-bottom: 20px;
  }
}

.buttons-btn:link, .buttons-btn:visited, .buttons-btn:hover, .buttons-btn:active {
  color: #ffffff;
}