@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  background-size: contain;
  background-color: #f4f5fa;
}
.authDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.mainSignIn {

  /* margin: 10% 15%; */
  height: 75%;
  width: 70%;
  background-color: #F4F5FA;
  display: flex;
  border-radius: 5px;
  align-items: center;
 
}
.leftside{
  width: 30%;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 7.2% 8% 0 8%;
  box-sizing: initial;
  }
.logoSignin {
  width: 100%;
  height: auto;
  align-self: center;
  margin-bottom: 20px;
}
.namelogo {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  color: #0f65b2;
  width: 350px;
  height: 30px;
  margin-bottom: 10px;
}
.line {
  width: 30px;
  height: auto;
}
.desclogo {
  margin-top: 20px;
  font-family: Roboto;
  color: #666666;
  font-weight: bold;
}
.info {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.msg {
  width: 30px;
  height: auto;
}
.icons-container {
  border-top: 1px solid transparent; 
  margin-top: 20%;
  padding-top: 5%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .leftside {
    display: none;
  }
  .mainSignIn {
    width: 80%;
    height: 80%;
    /* margin: 25% auto; */
  }
  /* body {
    width: 100%;
    height: 650px;
  } */
}

/* Tablet Styles */
@media only screen and (min-width: 401px) {
  .leftside {
    display: none;
  }
  .mainSignIn {
    width: 80%;
    height: 80%;
    /* margin: 15% auto; */
  }
  /* body {
    width: 100%;
    height: 650px;
  } */
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .leftside {
    display: block;
  }
  .mainSignIn {
    /* margin: auto 15%; */
    height: 70%;
    width: 70%;
  }
  /* body {
    width: auto;
    height: auto;
  } */
}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 


 
}